
.collapsibleList li > input + * {
	display: none;
}

.collapsibleList li > input:checked + * {
	display: block;
}

.collapsibleList li > input {
	display: none;
}

.collapsibleList label {
	cursor: pointer;
	text-decoration: underline;
}

.show_proof_path textarea {
	font-size: 20px;
}

